.toy-chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toy-chart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 450px);
  background: $clr3;
  border-radius: 1em;
  padding: 2em;
  margin: 1.4em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
